{% extends 'admin/adminindex.html' %}

{% block status %}

    <div class="col-md-9 col-sm-12">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="adminheadstatus fs-1 text-secondary">Order
                                            Management
                                        
                                        
                                        </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="adminheadstatus">Total No of Orders:&nbsp<b>{{ total_orders_count }}</b>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="adminheadstatus">Orders Pending:&nbsp<b>
                            <span id="orders_pending">{{ orders_pending }}</span>
                        </b>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="adminheadstatus">Orders Deliverd:&nbsp<b><span id="orders_deliverd">{{ orders_deliverd }}</span></b>
                    </span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 col-12 col-12">
               <a href="{% url 'returns' %}" class="text-decoration-none">
                    <span class="text-warning fs-4">Manage Returns</span><span class="text-muted">({{new_orders}} new requests)</span>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                  
                    {% if 'search' in request.GET %}
                    {% if  request.GET.search == 'COD' %}
                    <div class="input-group mb-3" >
                        <select class="form-control" aria-describedby="button-addon2" id="drop_id">
                            <option value="SelectAll">Select All</option>
                            <option value="COD" selected>COD</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Razorpay">Razorpay</option>
    
    
    
                        </select>
                        <button class="btn text-warning bg-secondary " id="button-addon2" onclick="DropSubmit()">Search</button>
                        </div>
                    {% endif %}

                    {% if  request.GET.search == 'Paypal' %}
                    <div class="input-group mb-3" >
                        <select class="form-control" aria-describedby="button-addon2" id="drop_id">
                            <option value="SelectAll">Select All</option>
                            <option value="COD">COD</option>
                            <option value="Paypal" selected>Paypal</option>
                            <option value="Razorpay">Razorpay</option>
    
    
    
                        </select>
                        <button class="btn text-warning bg-secondary " id="button-addon2" onclick="DropSubmit()">Search</button>
                        </div>
                    {% endif %}
                    {% if request.GET.search == 'Razorpay' %}
                    <div class="input-group mb-3" >
                        <select class="form-control" aria-describedby="button-addon2" id="drop_id">
                            <option value="SelectAll" >Select All</option>
                            <option value="COD">COD</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Razorpay" selected>Razorpay</option>
    
    
    
                        </select>
                        <button class="btn text-warning bg-secondary " id="button-addon2" onclick="DropSubmit()">Search</button>
                        </div>
                    {% endif %}
                    {% if  request.GET.search == 'SelectAll' %}
                    <div class="input-group mb-3" >
                        <select class="form-control" aria-describedby="button-addon2" id="drop_id">
                            <option value="SelectAll" selected>Select All</option>
                            <option value="COD">COD</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Razorpay">Razorpay</option>
    
    
    
                        </select>
                        <button class="btn text-warning bg-secondary " id="button-addon2" onclick="DropSubmit()">Search</button>
                        </div>
                    {% endif %}
                    {% else %}
                    <div class="input-group mb-3" >
                        <select class="form-control" aria-describedby="button-addon2" id="drop_id">
                            <option value="SelectAll" selected>Select All</option>
                            <option value="COD">COD</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Razorpay">Razorpay</option>
    
    
    
                        </select>
                        <button class="btn text-warning bg-secondary " id="button-addon2" onclick="DropSubmit()">Search</button>
                        </div>
                    {% endif %}

                   
                </div>
                <div class="col-md-6">


                    <form class="d-flex" action=' ' method='GET'>
                        <input type="search" name="ordernum" class="form-control rounded-0"  placeholder="Search by order number" value="{{request.session.ordernumber_search}}">
                        <button class="btn btn-outline-sucsess bg-secondary text-warning rounded-0" type="submit" id="button-addon2">Search</button>


                    </form>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12"></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col"><b>Order ID</b>
                                    <td scope="col"><b>No:</b></td>

                                    <td scope="col">
                                       <b> Name</b></td>

                                    
                                    </th>
                                    <td scope="col"><b>Created Date</b></td>
                                    <td scope="col"><b>Amount</b></td>
                                    <td scope="col"><b>Payment Method</b></td>
                                    <td scope="col"><b>Status</b></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in order_details %}

                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>

                                        <td>
                                            <a href="{% url 'orders_page' order.order_number %}" class="text-warning text-decoration-none">
                                            {{order.order_number}}
                                        </a>
                                        </td>
                                        <td>{{ order.user.first_name }} &nbsp;
                                            {{ order.user.last_name}}
                                        </td>
                                      
                                        <td>{{ order.created_at  }}</td>
                                        <td>{{ order.order_total }}</td>
                                        <td class="text-center">{{ order.payment.payment_method }}</td>

                                        <td>
                                           {{ order.status }}
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 d-flex justify-content-end">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-8 col-sm-8 d-flex justify-content-end">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if not order_details.has_previous %}
                                            {% else %}
                                                <li class="page-item text-center text-center">
                                                    <a class="page-link text-secondary
                                                                                                border-warning" href="?page={{ order_details.previous_page_number }}">Previous</a>
                                                </li>
                                        {% endif %}

                                        <li class="page-item text-secondary
                                                                                    border-warning disabled text-center">
                                            <a class="page-link
                                                                                        text-secondary border-warning
                                                                                        border-warning" href="#">{{ order_details.number }}
                                                of
                                                {{ order_details.paginator.num_pages }}</a>
                                        </li>
                                        {% if order_details.has_next %}


                                            <li class="page-item border-warning text-center">
                                                <a class="page-link text-secondary
                                                                                            border-warning" href="?page={{ order_details.next_page_number }}">Next</a>
                                            </li>
                                        {% endif %}


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script>


            function DropSubmit(){

                dropvalue=document.getElementById("drop_id").value
                console.log(dropvalue)
                droplink=window.location.href+"?search='dropvalue'"
                console.log(droplink)
                window.location.replace("?search="+dropvalue)

            }








            function ChangeStatus(str) {
                st = str.split("/");

                if (st[0] == "Shipped") {

                    console.log(st[0])

                    xhttp.onload = function () {
                        document.getElementById("orders_pending").innerHTML = this.responseText;
                        var re = this.responseText

                    }
                    xhttp.open("GET", "change_order_status/" + str);
                    xhttp.send();
                }
                else if(st[0]=="Deliverd"){
                    xhttp.onload = function () {
                        document.getElementById("orders_pending").innerHTML = this.responseText;
                        var op = parseInt("{{orders_deliverd}}")+1
                        document.getElementById('orders_deliverd').innerHTML = op
                        var re = this.responseText

                    }
                    xhttp.open("GET", "change_order_status/" + str);
                    xhttp.send();
                }
                else if(st[0]=="Cancelled"){
                   
                    xhttp.open("GET", "change_order_status/" + str);
                    xhttp.send();
                }
            }
            const xhttp = new XMLHttpRequest();
            // xhttp.onload = function() {
            //     document.getElementById("txtHint").innerHTML = this.responseText;
            // }
        </script>
    {% endblock %}
