{% load mathfilters %}
<div class="row mt-3">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
        <span class="text-muted fs-2">Sales Report of :{{salesdate}}</span
    </div>
</div>
<div class="row mt-3">
    
    <div class="col-12 col-sm-12 col-md-12">
        <div class="row"> {% if not  sales %}

            <div class="col-md-12 col-sm-12 col-12 d-flex justify-content-center ">
            <span class="text-muted fs-2"> No data to Show</span
            </div>
        </div>
    </div>
           
            {% else %}
          
            
        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No:</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price </th>
        


                    </tr>
                </thead>
                <tbody>
                    {% for s in sales %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {% for p in products %}
                            {% if p.id == s.product_id %}
                            <td>
                                
                             
                                {{p.book_name}}
                                
                                
                                </td>
                            <td>{{p.category.category_name}}</td>
                            <td>{{p.price}}</td>
                            <td>{{s.qty}}</td>
                            <td>
                                {% widthratio p.price 1 s.qty %}
                              </td>
                            
                            {% endif %}
                            {% endfor %}
                        </tr>
                    

                    {% endfor %}
                    <tr>
                   
                        
                    
                        <td>Total</td>
                        <td colspan="2">{{total_without_discount}}</td>
                        <td colspan="2"> Total After Discount</td>
                        <td >{{total}}</td>
                        
                       
                     
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td>Coupon Discount</td>
                       
                        <td>-{{total_after_coupon_discount}}<td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            
                        <td>GrandTotal
                        </td>
                                <td>
                                    {{total|sub:total_after_coupon_discount}}
                                    <td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}