{% extends 'index.html' %}
{% load static %}
{% load mathfilters %}
{% block banner %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12  ">
                <div class="row">
                    <div class="col-md-12  col-12">
                        <div class="row">
                            <img src="{% static 'cart-header.jpeg' %}" class="img-fluid ratio ratio-21x9">
                                <div class=" col position-absolute h-100  d-flex justify-content-center align-items-center ">
                                    <span class="text-light fs-3 robotothin ls-4">CHECKOUT</span>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>

    {% endblock %}
    {% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
    
            <!-- ============================ COMPONENT 1 ================================= -->
            <h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
            <div class="row">
    
                <aside class="col-lg-8">
                    <div class="card rounded-0">
                        <h5 class="card-header">Billing Address</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{order.full_name}}</p>
                            <p class="card-text mb-0">{{order.full_address}}</p>
                            <p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
                            <p class="card-text mb-0">{{order.country}}</p>
                            <p class="card-text mb-0">{{order.email}}</p>
                            <p class="card-text mb-0">{{order.phone}}</p>
                            {% if order.order_note %}
                            <b>Order Note: </b> {{order.order_note}}
                            {% endif %}
    
    
                        </div>
                    </div>
                    {% if payment_method == "Cod" %}
                    <div class="card rounded-0">
                        <h5 class="card-header">Payment Method</h5>
                        <div class="card-body">
                           
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexRadioCheckedDisabled">
                                  Cash On Delivery
                                </label>
                              </div>
    
                        </div>
                    </div>
                 

                    {% endif %}


                   
                    <div class="card rounded-0">
                        <h5 class="card-header">Review Products</h5>
                        <div class="card-body table-responsive-xl">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th>image</th>
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Price</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Gross Total</th>
                                        <th scope="col" width="120">Discount</th>
                                        <th scope="col" width="120">Total</th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr class="cart-item">
                                        <td class="image">
                                            <a href="#" class="text-decoration-none">
                                                <img src="{{ cart_item.product.image.url }}" alt="!"></a>
                                            </td>
                                            <td>


                                                <!-- ForeignKey used here -->

                                                <a href="{% url 'cate_view' %}{{ cart_item.product.category.category_name }}/{{ cart_item.product.book_name|slugify }}" class="text-decoration-none text-warning">
                                                    <b>{{ cart_item.product.book_name }}</b>
                                                </a>
                                            </td>
                                            <td>{{ cart_item.product.price }}</td>
                                            <td class="qty">
                                                <div class="input-group-prepend">
                                                    
                                                    <input type="text" step="1" min="0" name="cart" value="{{ cart_item.quantity }}" title="Qty" class="form-control qty pe-none disabled" size="4">
                                                        
                                                    </div>
                                                </td>
                                                <td>{{cart_item.product.price|mul:cart_item.quantity}}</td>
                                               
                                                <td>{{cart_item.discount}}%</td>
                                              <td>{{cart_item.total_after_discount}}</td>
                                            </tr>
                                        {% endfor %}

               
                           
    
                                </tbody>
                            </table>
    
                        </div>
                    </div>
    
                </aside> <!-- col.// -->
                <aside class="col-lg-4">
    
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">₹ {{total}}</dd>
                            </dl>
                          
                            <dl class="dlist-align">
                                <dt>Coupon Discount:</dt>
                                <dd class="text-right text-dark b"><strong>{{total_after_coupon|sub:total}}</strong></dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Grand Total:</dt>
                                <dd class="text-right text-dark b"><strong>₹ {{total_after_coupon}}</strong></dd>
                            </dl>
                            
                            <hr>
                            
    
    
                            <div id="paypal-button-container" class="d-flex justify-content-center">
                                
                                    <button class="btn pbtn rounded-0" onclick="codSubmit()">CheckOut
                                        <span class="">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </span>
                                    </button>
                                
                            </div>
    
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
    
                </aside> <!-- col.// -->
    
    
            </div> <!-- row.// -->
    
            <!-- ============================ COMPONENT 1 END .// ================================= -->
    
        </div> <!-- container .//  -->
        <script>
            const xhttp = new XMLHttpRequest();
function codSubmit(){
    xhttp.onload = function () {
        status=this.responceText
        if(status="Success"){
            window.location.href = " {% url 'checkout_success' %}";
        }
        else{
            window.location.href = " {% url 'checkout_fail' %}";

        }
       

    
    }



    xhttp.open("GET","{% url 'payment' order_number  order.id total_after_coupon %}" );
                xhttp.send();
}

        </script>
    {% endblock %}