{% extends 'admin/adminindex.html' %}
{% load mathfilters %}
{% block status %}


<div class="col-md-9 col-sm-12">
    <div clas="row mb-5">
    <div class="col-md-12">
        <div class="row">
            
            <div class="col-md-1 col-sm-1 col-1 d-flex justify-content-center align-items-center border border-warning rounded-circle" style="width:50px;height: 50px;">
                <a href="{% url 'offer_management' %}"  class="text-decoration-none text-warning">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            </div>
            
            <div class="col-md-10 col-sm-10 col-10 d-flex justify-content-center align-items-center">
                <span class="adminheadstatus fs-1 text-secondary">Coupon
                                        Management</span>
            </div>
        </div>

        <div class="row">
            <a href="{% url 'addnew_coupon' %}" class="text-decoration-none">
            <span class="text-warning fs-3">Add new Coupon</span>
            </a>
        </div>
    </div>
</div>
<!-- row -->
<div class="row mt-3 mb-3">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="row p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No:</th>
                        <th scope="col">Coupon Code</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Valid From</th>
                        <th scope="col">Valid To</th>
                        
                        <th scope="col">Status</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {% for c in coupons %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'coupon_view' c.id %}" class="text-decoration-none">
                                <span class="text-warning">{{ c.coupon_code }}</span>
                                    </a>
                            </td>
                            <td>{{ c.discount }}</td>
                            <td>
                            {{ c.valid_from }}
                            </td>
                            <td>
                             {{ c.valid_to }}
                            </td>
              
                            <td>
                               
                                {% if c.active %}
                                Active
                                {% else %}
                                Disabled
                                {% endif %}
                                
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>


        </div>



    </div>
</div>





</div>
</div>
</div>
</div>
{% endblock %}